body{
    background-color: rgb(92, 92, 92);
}
.appparrent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.App{
    border: 1px solid rgb(255, 255, 255);
    width: 370px;
    border-radius: 10px;
    margin-top: 10%;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.helloroshan{
    color: rgb(86, 86, 86);
}
.parrentt{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    color: rgb(253, 253, 253);
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    background-color: rgb(112, 112, 112);
    height: 80px;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}


.letsgetstarted{
    color: white;
}

.parrent2{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
}

.rs{
    border: 1px solid white;
    background-color: rgb(70, 11, 104);
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}
.carinc{
    font-size: 78%;
}


